

input:-internal-autofill-selected{
    background-color: white !important;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */

}
.md-layout-item {
    padding-right: 0px !important;
    padding-left:0px !important;
}
.md-button .md-ripple {
    padding: 0px !important;
  }
.md-button-content {
    display: flex !important;
    flex-direction: row;
    align-items: flex-end !important;
}
.controlHeight {
    height: 35px;
    margin-top: 15px !important;
    margin-right: 0px !important;
    padding: 5px;
}

.dflex{
    display:flex;
}
.dflex-center-row{
    display:flex;
    justify-content: center;
    align-items: center;
}
.dflex-center-col{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.mt-8{
    margin-top:8px;
}
.mt-15{
    margin-top:15px;
}

.ml-10{
    margin-left:10px;
}
.ml-35{
    margin-left:35px;
}
.mr-10{
    margin-right:10px;
}
.mr-15{
    margin-right:15px;
}
.buttonText{
    font-size: 12px !important;
    font-weight: 400;
}
.whiteIcons{
    fill: white;
}